// import "./scss/_mixins.scss";
@import "../../scss/mixins";

.container-navbar{
    // background-color: rgba(24, 2, 2, 0.726);
    background-image: linear-gradient(60deg, rgb(244, 244, 242) 5%, rgba(6, 32, 50, 0.363)70%);
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

    section:nth-last-child(1){
        display: flex;
        gap: 10px;
        

        a{
            text-decoration: none;
            padding: 3px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
     
            &:hover{
                transform: scale(1.1);
                color: greenyellow;
            }
            
        }
    }

}

@include media-xsm {
    .links {
        flex-direction: column;
    }
    .container-navbar img{
        width: 200px;
    }
}

@include media-lg {
    .links {
        flex-direction: row;
    }
    .container-navbar img {
        width: 100px;
    }
}

