@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to top, #834183 0%, #97d9e1 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-app{
    background-image: linear-gradient(to bottom right ,rgb(195, 21, 21),rgb(202, 172, 172));
    max-width: 600px;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 2rem;
}

.task-box{
    background-color: whitesmoke;
    margin: 8px 0;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
}
.task-box-done{
    background-color: rgba(76, 58, 58, 0.781);
    margin: 8px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border-left: 10px;
    border-color: darkcyan;
    text-decoration: line-through;
    display: flex;
}

.tasks{
    flex-grow: 1;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 5px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input {
    width: 100%;
    height: 40px;
    padding: 1rem;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}

.buton{
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    
}

form button{
    padding: 1rem;
    width: 100%;
    background-color: rgba(249, 218, 218, 0.628);
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header{
    text-align: center;
}

header h1{
    text-transform: uppercase;
    margin-bottom: 10px;
}

header button{
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    margin-bottom: 1rem;
    cursor: pointer;
}

header button:hover{
    transform: scale(1.1);
}

header button:active{
    background-color: yellowgreen;
}

.button_1{
    background-color: rgba(249, 218, 218, 0.628);
    color: white;
}

.button_2{
    background-color: yellowgreen;
    color: white
}

