@import "../../scss/mixins";

.container-header{
    margin-top: 3rem;
    text-align: center;

    h1{
        font-size: 46px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: underline;
        animation: blink 1s infinite;

        &:hover{
            color: black !important;
            cursor: pointer;
        }

    }
}

@keyframes blink {

    0%,100%{
        color: rgb(210, 191, 191);
        
    }

    50%  {
        color: rgba(70, 59, 59, 0.414);
    }
}


@include media-xsm {
    .container-header h1{
        font-size: 36px;
    }
}

@include media-lg {
    .container-header h1{
        font-size: 46px;
    }
}

