* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background-image: url("https://cdn.pixabay.com/photo/2016/06/20/16/00/night-sky-1469156_1280.jpg");
    background-image: url("https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883181_1280.jpg");
    background-repeat: repeat;
    background-size: 102% 102vh;
    background-attachment: fixed;
    
}


